/* Inicio pie de página */
.style-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.94rem;
    line-height: 1.87rem;
    text-align: center;
    background-color: #E3C5BB;
    margin: 0 1.25rem 1.25rem;
    @media (max-width: 320px) {
        font-size: 0.8rem;
        font-weight: bold;
    }
    li {
        list-style: none;
        .style-link-footer {
            text-decoration: none;
            color: black;
            &:hover {
                color: #A04668;
            }
        }
    }
    @media (max-width: 768px) {
        margin: 0;
    }
}
/* Fin del pie de página */