/* Mixin */
@import '../base/mixin';

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.style-subtitulo {
    @include texto( 3.125rem, 5rem, center);
    text-transform: uppercase;
    margin: 0 0 1rem;
    @media (max-width: 550px) {
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0.8rem 0;
    }
    @media (max-width: 420px) {
        font-size: 2rem;
        line-height: 3rem;
        margin: 0;
    }
    @media (max-width: 350px) {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.app-whatsapp {
    position: fixed;
    right: 26px;
    bottom: 80px;
    width: 50px;
    z-index: 1000;
    @media (max-width: 990px) {
        bottom: 90px;
        width: 45px;
    }
    @media (max-width: 768px) {
        display: none;
    }
    .img-whatsapp {
        width: 100%;
        height: auto;
    }
}