/* Mixin */
@import '../base/mixin';
/* Listas */
@import '../base/listas';

/* Inicio del cuerpo principal 'sobre mi' */
.container-sobre-mi {
    @include flexbox( column, center);
    background-color: nth($colores, 4);
    margin: 0 1.25rem 3.125rem;
    @media (max-width: 768px) {
        margin: 0;        
    }
    .style-p-sobre-mi {
        width: 80%;
        @include texto( 0.9rem, 1.4rem, justify);
        @media (max-width: 550px) {
            width: 85%;
            font-size: 0.8rem;
        }
        @media (max-width: 420px) {
            width: 90%;
            font-size: 0.75rem;
        }
        @media (max-width: 320px) {
            width: 95%;
            font-size: 0.7rem;
        }
        .style-sobremi-p1 {
            color: nth($colores, 1);
            font-weight: bold;
        }
    }

    .img-sobre-mi {
        width: 40%;
        margin: 1.25rem 0 0.6rem;
        @media (max-width: 768px) {
            width: 50%;
        }
        @media (max-width: 550px) {
            width: 60%;
        }
        @media (max-width: 420px) {
            width: 70%;
        }
        @media (max-width: 320px) {
            width: 75%;
        }
    }
    .pie-de-foto-sobre-mi {
        width: 40%;
        @include texto( 0.8rem, 1.4rem, justify);
        font-style: italic;
        margin-bottom: 1.25rem;
        @media (max-width: 768px) {
            width: 50%;
        }
        @media (max-width: 550px) {
            width: 60%;
        }
        @media (max-width: 420px) {
            width: 70%;
        }
        @media (max-width: 320px) {
            width: 75%;
        }
    }
}
/* Fin del cuerpo principal 'sobre mi' */